In [1]:
from numpy import dot

In [2]:
from numpy.linalg import norm

In [3]:
import numpy as np

In [4]:
def cos_sim(A,B):
    return dot(A,B)/(norm(A)*norm(B))

In [5]:
doc1=np.array([0,1,1,1])
doc2=np.array([1,0,1,1])
doc3=np.array([2,0,2,2])

In [6]:
print(cos_sim(doc1, doc2))

0.6666666666666667

In [7]:
print(cos_sim(doc1, doc3))

0.6666666666666667

In [8]:
print(cos_sim(doc2, doc3))

1.0000000000000002

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
data = pd.read_csv('C:\\Users\\Jeongyeop\\Desktop\\credits.csv', low_memory=False)
data.head(2)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-2-e360552cda35>, line 1)

In [1]:
data = pd.read_csv('C:\\Users\\Jeongyeop\\Desktop\\credits.csv', low_memory=False)
data.head(2)

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [3]:
data = pd.read_csv('C:\\Users\\Jeongyeop\\Desktop\\credits.csv', low_memory=False)
data.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [4]:
data = data.head(20000)

In [5]:
data['overview'].isnull().sum()

KeyError: 'overview'

In [6]:
data = pd.read_csv('C:\\Users\\Jeongyeop\\Desktop\\movies_metadata.csv', low_memory=False)
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [7]:
data = data.head(20000)

In [8]:
data['overview'].isnull().sum()

135

In [9]:
data['overview'] = data['overview'].fillna('')

In [10]:
tfidf = TfidfVectorizer(stop_words='english')

In [11]:
tfidf_matrix = tfidf.fit_transform(data['overview'])

In [12]:
print(tfidf_matrix.shape)

(20000, 47487)

In [13]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [14]:
indices = pd.Series(data.index, index=data['title']).drop_duplicates()

In [15]:
print(indices.head())

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [16]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores,key = lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return data['title'].iloc[movie_indices]

In [17]:
get_recommendations('The Dark Knight Rises')

12481                            The Dark Knight
150                               Batman Forever
1328                              Batman Returns
15511                 Batman: Under the Red Hood
585                                       Batman
9230          Batman Beyond: Return of the Joker
18035                           Batman: Year One
19792    Batman: The Dark Knight Returns, Part 1
3095                Batman: Mask of the Phantasm
10122                              Batman Begins
Name: title, dtype: object

In [18]:
get_recommendations('Toy Story')

15348               Toy Story 3
2997                Toy Story 2
10301    The 40 Year Old Virgin
8327                  The Champ
1071      Rebel Without a Cause
11399    For Your Consideration
1932                  Condorman
3057            Man on the Moon
485                      Malice
11606              Factory Girl
Name: title, dtype: object

In [19]:
import numpy as np
def dist(x,y):   
    return np.sqrt(np.sum((x-y)**2))

doc1 = np.array((2,3,0,1))
doc2 = np.array((1,2,3,1))
doc3 = np.array((2,1,2,2))
docQ = np.array((1,1,0,1))

print(dist(doc1,docQ))
print(dist(doc2,docQ))
print(dist(doc3,docQ))

2.23606797749979
3.1622776601683795
2.449489742783178

In [20]:
doc1 = "apple banana everyone like likey watch card holder"
doc2 = "apple banana coupon passport love you"

In [21]:
tokenized_doc1 = doc1.split()
tokenized_doc2 = doc2.split()

In [22]:
print(tokenized_doc1)
print(tokenized_doc2)

['apple', 'banana', 'everyone', 'like', 'likey', 'watch', 'card', 'holder']
['apple', 'banana', 'coupon', 'passport', 'love', 'you']

In [23]:
union = set(tokenized_doc1).union(set(tokenized_doc2))
print(union)

{'passport', 'apple', 'like', 'likey', 'coupon', 'you', 'watch', 'card', 'holder', 'love', 'banana', 'everyone'}

In [24]:
intersection = set(tokenized_doc1).intersection(set(tokenized_doc2))
print(intersection)

{'banana', 'apple'}

In [25]:
print(len(intersection)/len(union))

0.16666666666666666